body{margin: 0px;}
img{height: 90%;padding-top: .1rem;align-self: end;}
*{transition: all .2s ease;}
body{background-color: #ce1f6a;}
*{font-family: sans-serif;}
h3 a,i,li{font-size:1rem;transition: all .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);text-decoration: none;color: #d8f8b7;}
a:hover{color: #d8f8b7;}
li{list-style-type:none;height: 2rem;margin: none;}
.navbar{padding:0rem 1rem;height: 4rem;display: flex;justify-content: center;background-color:#990d4a; margin: 0px;}
.rtmenu{margin-left: auto;display: flex;}
.inmenu{display: flex;width: 50vw ;justify-content: space-between;}
.dropdown{text-align: end;display: flex;flex-direction: column;justify-content: center;align-items: center;}

.dropdown ul{position: absolute; color:transparent;   top: 0rem; right: 1rem; transform: translate(1rem,1rem);}
@media (min-width:721px){.dropdown{display:none;}}
@media (max-width:720px){.inmenu{display: none;}}
button{background-color: transparent;width: 3rem;;cursor: pointer;margin-right: 2rem;border: transparent;z-index:3; ;}
li{font-family: Ubuntu;width: 8rem;border-width: 0px;text-align: center;visibility: hidden;}
button:focus + ul > li:hover{background-color: #990d4a;}
button:focus + ul > li{background-color: transparent;color:thistle; transform:translatey(3rem);visibility: visible;}

